body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: block;
  background: linear-gradient(
      rgba(147, 137, 137, 0.548),
      rgba(128, 123, 123, 0.5)
    ),
    url("Images/Background1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  height: calc(100% * 4 / 21);
  width: 100%;
  display: flex;
}
.middle {
  height: calc(100% * 12 / 21);
  width: 100%;
  display: flex;
}
.bottom {
  height: calc(100% * 5 / 21);
  width: 100%;
  display: ;
}
.test {
  height: calc(100% / 3);
  width: 100%;
  display: block;
}
.top-middle,
.top-right,
.top-left {
  height: 100%;
  width: calc(100% / 3);
  display: flex;
}
.box {
  height: 60%;
  width: 80%;
  display: ;
  padding-left: 2%;
  padding-right: 2%;
  filter: drop-shadow(5px 5px 8px);
  opacity: 0.8;
  overflow: auto;
  border-radius: 7px;
}
.column {
  height: 100%;
  width: 20%;
  display: block;
}
.square {
  height: 100%;
  width: 80%;
  display: ;
}
.video {
  height: 100%;
  width: 90%;
}
.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}
.gone {
  display: none;
}
h1 {
  font-family: "Courier New"; /* set name */
  font-size: 2vh;
  display: inline-block;
  filter: drop-shadow(5px 5px 8px);
}
.turqoise-text {
  color: #40e0d0;
}
.blue-text {
  color: #0000ff;
}
.black-text {
  color: #000000;
}
.red-text {
  color: red;
}
.pink-text {
  color: #f4cccc;
}
.white-text {
  color: #f8f8ff;
}
.yellow-text {
  color: #ffea00;
}
.videosize {
  height: 100%;
  width: 100%;
}
.clickable1:hover {
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  color: white;
  transform: scale(1.1);
  transition: transform 0.6s;
}
.clickable1:active {
  cursor: url();
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  transform: scale(0.98);
  opacity: 0.6;
}
.clickable8,
.clickable9,
.clickable10,
.clickable11,
.clickable12,
.clickable13,
.clickable14 {
  height: 75%;
  cursor: url("Images/flower3.png"), auto;
  filter: grayscale(50%) brightness(90%) drop-shadow(2px 3px 8px);
  transition: transform 0.8s;
}
.clickable8:hover {
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  color: red;
  transform: scale(1.1);
  opacity: 1;
}
.clickable8:active {
  cursor: url();
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  transform: scale(0.98);
  opacity: 0.6;
}
.clickable9:hover {
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  color: white;
  transform: scale(1.1);
  opacity: 1;
  transition: transform 0.6s;
}
.clickable9:active {
  cursor: url();
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  transform: scale(0.98);
  opacity: 0.6;
}
.clickable10:hover {
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  color: turquoise;
  transform: scale(1.1);
  opacity: 1;
  transition: transform 0.6s;
}
.clickable10:active {
  cursor: url();
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  transform: scale(0.98);
  opacity: 0.6;
}
.clickable11:hover {
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  color: pink;
  transform: scale(1.1);
  opacity: 1;
  transition: transform 0.6s;
}
.clickable11:active {
  cursor: url();
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  transform: scale(0.98);
  opacity: 0.6;
}
.clickable12:hover {
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  color: yellow;
  transform: scale(1.1);
  opacity: 1;
  transition: transform 0.6s;
}
.clickable12:active {
  cursor: url();
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  transform: scale(0.98);
  opacity: 0.6;
}
.clickable13:hover {
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  color: blue;
  transform: scale(1.1);
  opacity: 1;
  transition: transform 0.6s;
}
.clickable13:active {
  cursor: url();
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  transform: scale(0.98);
  opacity: 0.6;
}
.clickable7:hover {
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  color: blue;
  transform: scale(1.1);
  transition: transform 0.6s;
}
.clickable7:active {
  cursor: url();
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  transform: scale(0.98);
  opacity: 0.6;
}
.clickable3:hover {
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  color: turquoise;
  transform: scale(1.1);
  transition: transform 0.6s;
}
.clickable3:active {
  cursor: url();
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  transform: scale(0.98);
  opacity: 0.6;
}
.clickable4:hover {
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  color: pink;
  transform: scale(1.1);
  transition: transform 0.6s;
}
.clickable4:active {
  cursor: url();
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  transform: scale(0.98);
  opacity: 0.6;
}
.clickable14:hover {
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  color: yellow;
  transform: scale(1.1);
  transition: transform 0.6s;
}
.clickable14:active {
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  transform: scale(0.98);
  opacity: 0.6;
}
.clickable2,
.clickable5,
.clickable1,
.clickable4,
.clickable3,
.clickable7,
.clickable14 {
  height: 75%;
  cursor: url("Images/flower3.png"), auto;
  filter: grayscale(100%) brightness(75%) drop-shadow(2px 3px 8px);
  transition: transform 0.6s;
}
.clickable5:hover {
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  color: red;
  transform: scale(1.1);
  transition: transform 0.6s;
}
.clickable5:active {
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  transform: scale(0.95);
  opacity: 0.6;
}
.clickable2:hover {
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  color: pink;
  transform: scale(1.1);
  transition: transform 0.6s;
}
.clickable2:active {
  filter: brightness(100%) drop-shadow(2px 3px 8px);
  transform: scale(0.98);
  opacity: 0.6;
}
.press-down {
  filter: brightness(60%);
  transform: scale(0.9);
  opacity: 0.6;
}
.light-green {
  color: #6bf0a8;
}
.purple {
  background-color: #8a2be2;
}
.gold {
  background-color: #b8860b;
}
.red {
  background-color: #8b0000;
}
.pink {
  background-color: #f4cccc;
}
.light-grey {
  background-color: #dcdcdc;
}
.dark-grey {
  background-color: #696969;
}
.orange {
  background-color: #eb7d10;
}
.yellow {
  background-color: #ffd966;
}
.black {
  background-color: #000000;
}
.white {
  background-color: #f5f5f5;
}
.dark-red {
  background-color: #ff0000;
}
.gray {
  background-color: #808080;
}
.brown {
  background-color: #8b4513;
  color: #8b4513;
}
.turqoise {
  background-color: #40e0d0;
}
@media only screen and (max-width: 500px) {
  .column {
    display: none;
  }
  .bottom {
    height: calc(100% * 5 / 21);
    width: 100%;
    display: ;
  }
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: block;
    background: linear-gradient(
        rgba(147, 137, 137, 0.548),
        rgba(128, 123, 123, 0.5)
      ),
      url("Images/Background1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .video {
    height: 100%;
    width: 100%;
    display: ;
  }
  .videosize {
    height: 80%;
    width: 90%;
  }
  .box {
    height: 95%;
    width: 90%;
    display: ;
    padding-left: 2%;
    padding-right: 2%;
    filter: drop-shadow(5px 4px 8px);
  }
  h1 {
    font-family: "Courier New";
    font-size: 1.2vh;
    filter: drop-shadow(4px 4px 7px);
  }
  .clickable1:hover {
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    color: white;
    transform: scale(1.1);
    transition: transform 0.6s;
  }
  .clickable1:active {
    cursor: url();
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    transform: scale(0.98);
    opacity: 0.6;
  }
  .clickable8,
  .clickable9,
  .clickable10,
  .clickable11,
  .clickable12,
  .clickable13,
  .clickable14 {
    height: 75%;
    cursor: url("Images/flower3.png"), auto;
    filter: grayscale(50%) brightness(90%) drop-shadow(2px 3px 8px);
    transition: transform 0.8s;
  }
  .clickable8:hover {
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    color: red;
    transform: scale(1.1);
    opacity: 1;
  }
  .clickable8:active {
    cursor: url();
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    transform: scale(0.98);
    opacity: 0.6;
  }
  .clickable9:hover {
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    color: white;
    transform: scale(1.1);
    opacity: 1;
    transition: transform 0.6s;
  }
  .clickable9:active {
    cursor: url();
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    transform: scale(0.98);
    opacity: 0.6;
  }
  .clickable10:hover {
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    color: turquoise;
    transform: scale(1.1);
    opacity: 1;
    transition: transform 0.6s;
  }
  .clickable10:active {
    cursor: url();
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    transform: scale(0.98);
    opacity: 0.6;
  }
  .clickable11:hover {
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    color: pink;
    transform: scale(1.1);
    opacity: 1;
    transition: transform 0.6s;
  }
  .clickable11:active {
    cursor: url();
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    transform: scale(0.98);
    opacity: 0.6;
  }
  .clickable12:hover {
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    color: yellow;
    transform: scale(1.1);
    opacity: 1;
    transition: transform 0.6s;
  }
  .clickable12:active {
    cursor: url();
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    transform: scale(0.98);
    opacity: 0.6;
  }
  .clickable13:hover {
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    color: blue;
    transform: scale(1.1);
    opacity: 1;
    transition: transform 0.6s;
  }
  .clickable13:active {
    cursor: url();
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    transform: scale(0.98);
    opacity: 0.6;
  }
  .clickable7:hover {
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    color: blue;
    transform: scale(1.1);
    transition: transform 0.6s;
  }
  .clickable7:active {
    cursor: url();
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    transform: scale(0.98);
    opacity: 0.6;
  }
  .clickable3:hover {
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    color: turquoise;
    transform: scale(1.1);
    transition: transform 0.6s;
  }
  .clickable3:active {
    cursor: url();
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    transform: scale(0.98);
    opacity: 0.6;
  }
  .clickable4:hover {
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    color: pink;
    transform: scale(1.1);
    transition: transform 0.6s;
  }
  .clickable4:active {
    cursor: url();
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    transform: scale(0.98);
    opacity: 0.6;
  }
  .clickable14:hover {
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    color: yellow;
    transform: scale(1.1);
    transition: transform 0.6s;
  }
  .clickable14:active {
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    transform: scale(0.98);
    opacity: 0.6;
  }
  .clickable2,
  .clickable5,
  .clickable1,
  .clickable4,
  .clickable3,
  .clickable7,
  .clickable14 {
    height: 75%;
    cursor: url("Images/flower3.png"), auto;
    filter: grayscale(100%) brightness(75%) drop-shadow(2px 3px 8px);
    transition: transform 0.6s;
  }
  .clickable5:hover {
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    color: red;
    transform: scale(1.1);
    transition: transform 0.6s;
  }
  .clickable5:active {
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    transform: scale(0.95);
    opacity: 0.6;
  }
  .clickable2:hover {
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    color: pink;
    transform: scale(1.1);
    transition: transform 0.6s;
  }
  .clickable2:active {
    filter: brightness(100%) drop-shadow(2px 3px 8px);
    transform: scale(0.98);
    opacity: 0.6;
  }
  .press-down {
    filter: brightness(60%);
    transform: scale(0.9);
    opacity: 0.6;
  }
}
.center-content {
  justify-content: center;
  align-items: center;
  display: ;
}
